<%= form_with(model: owner, local: true) do |form| %>
  <% if owner.errors.any? %>
    <div id="error_explanation">
      <h2>Se han presentado los siguientes errores</h2>

      <ul>
      <% owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_name, "Apellido" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :cel_phone, "Celular" %>
    <%= form.text_field :cel_phone %>
  </div>

  <div class="field">
    <%= form.label :agreement_terms, "Acepto los términos de uso del sistema." %>
    <%= form.check_box :agreement_terms %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
