<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Cel phone:</strong>
  <%= @owner.cel_phone %>
</p>

<p>
  <strong>Agreement terms:</strong>
  <%= @owner.agreement_terms %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
