<div class="row column">
  <p>
    <strong>Nombre:</strong>
    <%= @owner.name %>
  </p>
  <p>
    <strong>Apellido:</strong>
    <%= @owner.last_name %>
  </p>
  <p>
    <strong>Celular:</strong>
    <%= @owner.cel_phone %>
  </p>
  <p>
    <strong>Usuario:</strong>
    <%= @owner.email %>
  </p>
  <%= link_to 'Editar', edit_owner_path(@owner) %>
</div>
