<%= form_with(model: cost_detail, local: true) do |form| %>
  <% if cost_detail.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-subhead">Se han presentado los siguientes errores:</h2>

      <ul>
      <% cost_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cost_type %>
    <%= form.text_field :cost_type %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :provider %>
    <%= form.text_area :provider %>
  </div>

  <div class="field">
    <%= form.label :maintenance_history_id %>
    <%= form.text_field :maintenance_history_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
