<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div class="row">
      <div class="columns">
        <div id="error_explanation">
          <h2 class="text-subhead">Se han presentado los siguientes errores:</h2>
          <ul>
          <% car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="columns small-16 large-6">
      <div class="field">
        <%= form.file_field :images, multiple: true, direct_upload: true %>
      </div>
      <div class="field">
        <%= form.label :plate, "Placa*" %>
        <%= form.text_field :plate %>
      </div>
      <div class="field">
        <%= form.label :brand, "Marca*" %>
        <%= form.text_field :brand %>
      </div>
      <div class="field">
        <%= form.label :model, "Modelo*" %>
        <%= form.text_field :model %>
      </div>
    </div>
    <div class="columns small-16 large-6">
      <div class="field">
        <%= form.label :year, "Año*" %>
        <%= form.number_field :year, strep: 1 %>
      </div>
      <div class="field">
        <% types_list = ["Liviano", "Camion", "Camioneta", "Autobus", "Motocicleta"] %>
        <%= form.label :car_type, "Tipo*" %>
        <%= form.select :car_type, types_list %>
      </div>
      <div class="field">
        <%= form.label :current_km, "KM Actual*" %>
        <%= form.number_field :current_km, strep: 1, value: form.object.current_km.present? ? form.object.current_km_estimated.round : '' %>
      </div>
      <div class="field">
        <%= form.label :week_km, "KM Semanal*" %>
        <%= form.number_field :week_km, strep: 1, value: form.object.week_km.present? ? form.object.week_km.round : '' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div class="actions">
        <%= form.submit "Guardar", class: "button" %>
      </div>
    </div>
  </div>
<% end %>
