<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2>Debe corregir los siguientes errores:</h2>
      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :plate, "Placa*" %>
    <%= form.text_field :plate %>
  </div>
  <div class="field">
    <%= form.label :brand, "Marca*" %>
    <%= form.text_field :brand %>
  </div>
  <div class="field">
    <%= form.label :model, "Modelo*" %>
    <%= form.text_field :model %>
  </div>
  <div class="field">
    <%= form.label :year, "Año*" %>
    <%= form.text_field :year %>
  </div>
  <div class="field">
    <% types_list = ["Liviano", "Camion", "Camioneta", "Autobus", "Motocicleta"] %>
    <%= form.label :car_type, "Tipo*" %>
    <%= form.select :car_type, types_list %>
  </div>
  <div class="field">
    <%= form.label :current_km, "KM Actual*" %>
    <%= form.text_field :current_km %>
  </div>
  <div class="field">
    <%= form.label :week_km, "KM Semanal*" %>
    <%= form.text_field :week_km %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
