
<div class="row column">
  <h1>Mis autos</h1>
  <table class="responsive-card-table unstriped">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Km Actual</th>
        <th>Km semanal</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td data-label="Placa"><%= car.plate %></td>
          <td data-label="Marca"><%= car.brand %></td>
          <td data-label="Modelo"><%= car.model %></td>
          <td data-label="Tipo"><%= car.car_type %></td>
          <td data-label="Km Actual"><%= car.current_km.round %></td>
          <td data-label="Km semanal"><%= car.week_km.round %></td>
          <td><%= link_to 'Mantenimientos', select_car_path(car) %></td>
          <td><%= link_to 'Detalles', car %></td>
          <td><%= link_to 'Editar', edit_car_path(car) %></td>
          <td><%= link_to 'Eliminar', car, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Agregar auto', new_car_path %>
</div>
