<div class="row">
  <div class="columns large-6 small-12">
    <h1 class="text-headline"><%= @car.plate %></h1>
    <p>
      <strong>Marca:</strong>
      <%= @car.brand %>
    </p>
    <p>
      <strong>Modelo:</strong>
      <%= @car.model %>
    </p>
    <p>
      <strong>KM Actuak:</strong>
      <%= @car.current_km.round %>
    </p>
    <p>
      <strong>KM Semanal:</strong>
      <%= @car.week_km.round %>
    </p>
    <p>
      <strong>Tipo:</strong>
      <%= @car.car_type %>
    </p>
    <%= link_to select_car_path(@car), class: "floating-action button success" do %>
      <i class="material-icons">build</i>
    <% end %>
    <%= link_to edit_car_path(@car), class: "floating-action button secondary" do %>
      <i class="material-icons">edit</i>
    <% end %>
    <%= link_to @car, class: "floating-action button alert", method: :delete, data: { confirm: '¿Está seguro?' } do %>
      <i class="material-icons">delete</i>
    <% end %>
  </div>
  <div class="columns large-6 small-12">
    <div class="row small-up-2 medium-up-3 large-up-4">
      <% @car.images.each do |avatar| %>
        <div class="column image_attached">
          <%= image_tag avatar.variant(resize: "300x300"), class: "thumbnail" %>
          <%= link_to image_detach_car_path(@car.id, "image_id" => avatar.id), class: "detach floating-action button alert", data: { confirm: '¿Está seguro?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
