<div class="row column">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Placa:</strong>
    <%= @car.plate %>
  </p>
  <p>
    <strong>Marca:</strong>
    <%= @car.brand %>
  </p>
  <p>
    <strong>Modelo:</strong>
    <%= @car.model %>
  </p>
  <p>
    <strong>KM Actuak:</strong>
    <%= @car.current_km.round %>
  </p>
  <p>
    <strong>KM Semanal:</strong>
    <%= @car.week_km.round %>
  </p>
  <p>
    <strong>Tipo:</strong>
    <%= @car.car_type %>
  </p>
  <%= link_to 'Editar', edit_car_path(@car) %> |
  <%= link_to 'Ver todos', cars_path %> | 
  <%= link_to 'Seleccionar', select_car_path(@car) %> | 
  <%= link_to 'Eliminar', @car, method: :delete, data: { confirm: '¿Está seguro?' } %>
</div>
