<div class="row column">
  <h1 class="text-headline">¿Su Kilometraje Actual es?</h1>
</div>
<% if @cars.present? %>
  <% @cars.each do |car| %>
    <div class="row">
      <div class="columns">
        <div class="callout form-<%= car.id %>">
          <h2 class="text-title"><%= car.plate %>: <small><%= car.brand %></small> <small><%= car.model %></small></h2>
          <%= render 'form_current_km', car: car, stay: true %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row column">
    <%= link_to 'Posponer', dismiss_car_update_cars_path, class: "hollow button general", data: { confirm: '¿Está seguro?' } %>
  </div>
<% else %>
  <div class="row">
    <div class="columns">
      <div class="callout">
        <h2 class="text-title">Todos los kilometrajes estan actualizados</h2>
      </div>
    </div>
  </div>
  <div class="row column">
    <%= link_to 'Continuar', cars_path, class: "hollow button general" %>
  </div>
<% end %>