<%= form_with(model: maintenance_history, local: true, html: { autocomplete: "off" }) do |form| %>
  <% if maintenance_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance_history.errors.count, "error") %> prohibited this maintenance_history from being saved:</h2>
      <ul>
      <% maintenance_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :maintenance_type %>
    <%= form.text_field :maintenance_type %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @maintenance_status %>
  </div>
  <div class="field">
    <%= form.label :estimated_km %>
    <%= form.text_field :estimated_km %>
  </div>
  <div class="field">
    <%= form.label :scheduled_date %>
    <% if form.object.scheduled_date.present? %>
      <%= form.text_field :scheduled_date, value: form.object.scheduled_date.strftime(DATE_FORMAT), class: "date_pick" %>
    <% else %>
      <%= form.text_field :scheduled_date, class: "date_pick" %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :review_km %>
    <%= form.text_field :review_km %>
  </div>
  <div class="field">
    <%= form.label :review_date %>
    <%= form.text_field :review_date, class: "date_pick" %>
  </div>
  <div class="field">
    <%= form.label :provider %>
    <%= form.text_area :provider %>
  </div>
  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>
  <div class="field">
    <%= form.label :notified %>
    <%= form.check_box :notified %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>

<% content_for :late_javascripts do %>
  <script type="text/javascript">
    $(function() {
      $('#maintenance_history_maintenance_type').autoComplete({
        source: function(term, response){
          try { xhr.abort(); } catch(e){}
          $.getJSON('<%= types_maintenance_histories_path %>', { q: term }, function(data){ response(data); });
        }
      });
    });
  </script>
<% end %>

<%= render partial: 'shared/init_date_time_picker' %>