<div class="row column">
  <p id="notice"><%= notice %></p>
  <h1>Mantenimientos</h1>
  <table>
    <thead>
      <tr>
        <% if params[:filtro].nil? %>
          <th>Estado</th>
        <% end %>
        <th>Tipo</th>
        <th>P贸ximo KM</th>
        <th>Fecha Estimada</th>
        <% if params[:filtro] == "Completado" %>
          <th>KM Revisi贸n</th>
          <th>Fecha Revisi贸n</th>
          <th>Proveedor</th>
          <th>Costo</th>
        <% end %>
        <th>Notificado?</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @maintenance_histories.each do |maintenance_history| %>
        <tr>
          <% if params[:filtro].nil? %>
            <td><%= maintenance_history.status %></td>
          <% end %>
          <td><%= maintenance_history.maintenance_type %></td>
          <td><%= maintenance_history.estimated_km %></td>
          <td><%= maintenance_history.scheduled_date.strftime("%d/%m/%Y") %></td>
          <% if params[:filtro] == "Completado" %>
            <td><%= maintenance_history.review_km %></td>
            <td><%= maintenance_history.review_date %></td>
            <td><%= maintenance_history.provider %></td>
            <td><%= maintenance_history.cost %></td>
          <% end %>
          <td><%= maintenance_history.notified ? 'Si' : 'No' %></td>
          <td><%= link_to 'Revisi贸n', review_maintenance_history_path(maintenance_history) %></td>
          <td><%= link_to 'Detalles', maintenance_history_path(maintenance_history) %></td>
          <td><%= link_to 'Editar', edit_maintenance_history_path(maintenance_history) %></td>
          <td><%= link_to 'Eliminar', maintenance_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Agregar mantenimiento', new_maintenance_history_path %>
</div>
