<div class="row column">
  <h1 class="text-headline">Mantenimientos</h1>
  <table class="responsive-card-table unstriped">
    <thead>
      <tr>
        <% if params[:filtro].nil? %>
          <th>Estado</th>
        <% end %>
        <th>Tipo</th>
        <th>Póximo KM</th>
        <th>Fecha Estimada</th>
        <% if params[:filtro] == "Completado" %>
          <th>KM Revisión</th>
          <th>Fecha Revisión</th>
          <th>Proveedor</th>
          <th>Costo</th>
        <% end %>
        <th>Notificado?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @maintenance_histories.each do |maintenance_history| %>
        <tr>
          <% if params[:filtro].nil? %>
            <td data-label="Estado"><%= maintenance_history.status %></td>
          <% end %>
          <td data-label="Tipo"><%= maintenance_history.maintenance_type %></td>
          <td data-label="Póximo KM"><%= maintenance_history.estimated_km.round %></td>
          <td data-label="Fecha Estimada"><%= maintenance_history.scheduled_date.strftime(DATE_FORMAT) if maintenance_history.scheduled_date.present? %></td>
          <% if params[:filtro] == "Completado" %>
            <td data-label="KM Revisión"><%= maintenance_history.review_km.round %></td>
            <td data-label="Fecha Revisión"><%= maintenance_history.review_date %></td>
            <td data-label="Proveedor"><%= maintenance_history.provider %></td>
            <td data-label="Costo"><%= maintenance_history.cost %></td>
          <% end %>
          <td data-label="Notificado?"><%= maintenance_history.notified ? 'Si' : 'No' %></td>
          <td>
            <% if maintenance_history.status == 'Pendiente' %>
              <%= link_to review_maintenance_history_path(maintenance_history), class: "floating-action button success" do %>
                <i class="material-icons">report</i>
              <% end %>
            <% end %>
            <%= link_to maintenance_history_path(maintenance_history), class: "floating-action button primary" do %>
              <i class="material-icons">search</i>
            <% end %>
            <%= link_to edit_maintenance_history_path(maintenance_history), class: "floating-action button secondary" do %>
              <i class="material-icons">edit</i>
            <% end %>
            <%= link_to maintenance_history, class: "floating-action button alert", method: :delete, data: { confirm: '¿Está seguro?' } do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to new_maintenance_history_path, class: "floating-action button primary main" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
