<div class="row">
  <div class="columns large-6 small-12">
    <h3>
      <%= @maintenance_history.maintenance_type %>
    </h3>
    <p>
      <strong>Estado:</strong>
      <%= @maintenance_history.status %>
    </p>
    <p>
      <strong>Km Estimado:</strong>
      <%= @maintenance_history.estimated_km.round %>
    </p>
    <p>
      <strong>Fecha Agenda:</strong>
      <%= @maintenance_history.scheduled_date.strftime(DATE_FORMAT) %>
    </p>
    <p>
      <strong>Km Revisión:</strong>
      <%= @maintenance_history.review_km.round if @maintenance_history.review_km.present? %>
    </p>
    <p>
      <strong>Fecha Revisión:</strong>
      <%= @maintenance_history.review_date.strftime(DATE_FORMAT) if @maintenance_history.review_date.present?%>
    </p>
    <p>
      <strong>Proveedor:</strong>
      <%= @maintenance_history.provider %>
    </p>
    <p>
      <strong>Costo:</strong>
      <%= @maintenance_history.cost %>
    </p>
    <p>
      <strong>Notified:</strong>
      <%= @maintenance_history.notified ? 'Si' : 'No'%>
    </p>

    <%= link_to 'Editar', edit_maintenance_history_path(@maintenance_history), class: "button" %>
    <%= link_to 'Ver Todos', maintenance_histories_path, class: "hollow button general" %>
    
  </div>

  <div class="columns large-6 small-12">
    <h3>Mantenimiento programado</h3>
    <p>
      <strong>Repetir mantenimiento cada <%= @maintenance_history.user_car_setting.km_estimated %> kilómetros ó cada <%= @maintenance_history.user_car_setting.month_estimated %> meses.</strong>
    </p>

    <%= link_to 'Cambiar configuración', edit_maintenance_history_user_car_setting_path(@maintenance_history, @maintenance_history.user_car_setting), class: "button" %>
    
  </div>
</div>

<% if @maintenance_history.user_car_setting.km_estimated.nil? || @maintenance_history.user_car_setting.month_estimated.nil? %>
  <div class="row column">
    <h3>Configuración pendiente</h3>
    <p>Usted ha creado un nuevo tipo de mantenimiento, por favor complete la configuración, esta información servirá para agendar nuevos mantenimientos de este tipo.</p>
    <div class="row column">
      <%= form_with(model: @maintenance_history.user_car_setting, url: maintenance_history_user_car_setting_path(@maintenance_history.user_car_setting), local: true) do |form| %>
        <div class="field">
          <%= form.label :km_estimated %>
          <%= form.text_field :km_estimated %>
        </div>
        <div class="field">
          <%= form.label :month_estimated %>
          <% if form.object.month_estimated.present? %>
            <%= form.text_field :month_estimated, value: form.object.month_estimated.strftime(DATE_FORMAT), class: "date_pick" %>
          <% else %>
            <%= form.text_field :month_estimated, class: "date_pick" %>
          <% end %>
        </div>
        <div class="actions">
          <%= form.submit "Guardar", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
