<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="bg-image" style="background-image:url(<%= asset_path 'default-bg.jpg' %>)"></div>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas>
          <div class="row column">
            <br>
            <%= image_tag('logo.png') %>
            <% if user_signed_in? %>
              <ul class="vertical menu drilldown" data-drilldown>
                <% if current_user.owner.nil? %>
                  <li><%= link_to("Crear Propietario", new_owner_path) %></li>
                <% else %>
                  <li><%= link_to("Editar propietario", edit_owner_path(current_user.owner)) %></li>
                  <li>
                    <a href="#">Autos</a>
                    <ul class="menu vertical nested">
                      <li><%= link_to("Mis autos", cars_path) %></li>
                      <li><%= link_to("Agregar auto", new_car_path) %></li>
                    </ul>
                  </li>
                  <% if cookies[:selected_car_id].present? %>
                    <li>
                      <a href="#">
                        <%= @car_selected.plate.upcase %>
                      </a>
                      <ul class="menu vertical nested">
                        <li><%= link_to 'Detalles de auto', car_path(@car_selected) %></li>
                        <li><%= link_to("Agendar manteminieto", new_maintenance_history_path) %></li>
                        <li><%= link_to("Mantenimientos Pendientes", maintenance_histories_path(filtro: "Pendiente")) %></li>
                        <li><%= link_to("Mantenimientos Atrasados", maintenance_histories_path(filtro: "Atrasado")) %></li>
                        <li><%= link_to("Mantenimientos completados", maintenance_histories_path(filtro: "Completado")) %></li>
                        <li><%= link_to("Todos", maintenance_histories_path) %></li>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title">Automan</span>
            </div>
          </div>
          <% if cookies[:selected_car_id].present? %>
              <div class="callout secondary">
                <% if cookies[:selected_car_id].present? && @car_selected.images.attached? %>
                  <div class="bg-image" style="background-image:url(<%= raw rails_blob_path(@car_selected.images.first) %>)"></div>
                <% end %>
                <div class="row column">
                <h1 class="text-headline">
                  <%= link_to @car_selected.plate.upcase, edit_car_path(@car_selected) %> - 
                  <small class="current_km text-title">KM Actual: <%= link_to @car_selected.current_km_estimated.round, update_current_km_car_path(@car_selected) %></small> / 
                  <small class="week_km text-title">KM Promedio: <%= @car_selected.week_km.round %></small></h1>
                </div>
              </div>
          <% end %>
          <div class="row column">
            <div class="small-12 large-12">
              <% if notice %>
                <div data-closable class="callout alert-callout-subtle success">
                  <%= notice %>
                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">⊗</span>
                  </button>
                </div>
              <% end %>
              <% if alert %>
                <div data-closable class="callout alert-callout-subtle alert">
                  <%= alert %>
                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">⊗</span>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
          <%= yield %> <!-- modelo donde se unifica el modelo del controladr y la vista -->
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).foundation();
    </script>
    <%= yield :late_javascripts  %>
  </body>
</html>
