<!doctype html>
<html class="no-js" lang="en">
  <head>
    <%= render partial: 'shared/google_scripts' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  </head>

  <body id="primary-content">

    <div class="bg-image" style="background-image:url(<%= asset_path 'default-bg.jpg' %>)"></div>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="menu-left" data-off-canvas data-transition="overlap">
          <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row column" style="display: inherit;">
            <br>
            <%= image_tag('logo.png') %>
            <br>
            <br>
            <% if user_signed_in? %>
              <ul class="vertical menu">
                <% if current_user.owner.nil? %>
                  <li><%= link_to("Crear Propietario", new_owner_path, class: "hallow button primary") %></li>
                <% else %>
                  <li><%= link_to("Editar propietario", edit_owner_path(current_user.owner), class: "hallow button primary") %></li>
                  <li>
                    <br>
                    <p class="text-title">Autos</p>
                    <ul class="menu vertical">
                      <li><%= link_to("Mis autos", cars_path, class: "hollow button general") %></li>
                      <li><%= link_to("Agregar auto", new_car_path, class: "hollow button general") %></li>
                    </ul>
                  </li>
                  <% if cookies[:selected_car_id].present? %>
                    <li>
                      <br>
                      <p class="text-title"><%= @car_selected.plate.upcase %></p>
                      <ul class="menu vertical">
                        <li><%= link_to('Tablero de control', dashboard_car_path(@car_selected), class: "hollow button general") %></li>
                        <li><%= link_to("Mantenimientos Pendientes", car_maintenance_histories_path(@car_selected), 'data-turbolinks': 'false', 'data-turbolinks': 'false', class: "hollow button general") %></li>
                        <li><%= link_to("Mantenimientos completados", car_maintenance_histories_path(@car_selected, filtro: "Completado"), 'data-turbolinks': 'false', class: "hollow button general") %></li>
                        <li><%= link_to("Agendar mantenimiento", new_car_maintenance_history_path(@car_selected), class: "hollow button general") %></li>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                <li><br><%= link_to("Salir", destroy_user_session_path, method: :delete, class: "hallow button primary") %></li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <% if user_signed_in? %>
            <div class="title-bar hide-for-large">
              <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="menu-left"></button>
                <span class="title-bar-title">Automan</span>
              </div>
              <ul class="menu align-right">
                <% if cookies[:selected_car_id].present? %>
                  <li>
                    <%= link_to dashboard_car_path(@car_selected), class: "flat button primary" do %>
                      <i class="material-icons">dashboard</i>Tablero
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <%= link_to cars_path, class: "flat button primary" do %>
                    <i class="material-icons">drive_eta</i>autos
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
          <% if cookies[:selected_car_id].present? %>
              <div class="callout secondary">
                <% if cookies[:selected_car_id].present? && @car_selected.images.attached? %>
                  <div class="bg-image" style="background-image:url(<%= raw rails_blob_path(@car_selected.images.first) %>)"></div>
                <% end %>
                <div class="row column">
                <h1 class="text-headline">
                  <%= link_to @car_selected.plate.upcase, edit_car_path(@car_selected) %> - 
                  <small class="current_km text-title">KM Actual: <%= link_to @car_selected.current_km_estimated.round, update_current_km_car_path(@car_selected) %></small> / 
                  <small class="week_km text-title">KM Promedio: <%= @car_selected.week_km.round %></small></h1>
                </div>
              </div>
          <% end %>
          <div class="row column">
            <div class="small-12 large-12">
              <% if notice %>
                <div data-closable class="callout alert-callout-subtle success">
                  <%= notice %>
                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">⊗</span>
                  </button>
                </div>
              <% end %>
              <% if alert %>
                <div data-closable class="callout alert-callout-subtle alert">
                  <%= alert %>
                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">⊗</span>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row colapse">
            <div class="columns">
              <%= yield %>
            </div>
            <div class="columns small-12 medium-4 large-3 <%= !Rails.env.development? ? "hide" : "" %>">
              ADS
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).foundation();
    </script>
    <%= yield :late_javascripts  %>

    <% if false %>
      <script type="text/javascript"> var infolinks_pid = 3139142; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
    <% end %>
  </body>
</html>
